<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{titleBar}} NodeJS!</title>
    </head>
    <body>
        {{> header}}
        <p>This is a home page</p>
       {{> footer}}
    </body>
</html>